.search {
    display: flex;
    font-size: 16px;
    line-height: 20px;
    border-radius: 6px;
    box-shadow: 0 7px 64px #EDEDED;
    margin: 0;
    width: calc(100% - 200px);
}

.line {
    height: 48px;
    box-sizing: border-box;
    border: none;
    outline: none;
    width: 100%;
}

.lineLabel {
    height: 48px;
}

.lineLabel__button {
    height: 48px;
    width: 48px;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    outline: none;
    border: none;
    background: url('http://students-react-app.surge.sh/images/search.svg') no-repeat center;
}

@media screen and (max-width: 1000px) {
    .search {
        width: 100%;
    }
}
