{
  "extends": [
    "eslint:recommended",
    "plugin:node/recommended",
    "plugin:react/recommended"
  ],
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    },
    "parser": "babel-eslint"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "node/no-unsupported-features/es-syntax": "off",
    "no-undef": "off",
    "no-process-exit": "off",
    "node/no-deprecated-api": "off",
    "quotes": ["error", "single"],
    "semi": ["error", "always"]
  }
}
