.student
{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 15px;
    align-items: center;
    margin: 25px 0;
    font-size: 15px;
    line-height: 20px;
    padding: 0 19px;
}

.image
{
    object-fit: cover;
}

.student__image,
.image
{
    grid-column: 1 / 2;
    border: 2px solid rgba(255, 255, 255, 0.6);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-sizing: border-box;
}

.student__name
{

    grid-column: 2 / 5;
}

.student__speciality
{
    grid-column: 5 / 8;
}

.student__group
{
    grid-column: 8 / 9;
}

.student__age
{
    grid-column: 9 / 10;
}

.student__rating
{
    grid-column: 10 / 11;
}

.student__color
{
    grid-column: 11 / 12;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    justify-self: center;
}

.student__deleteButton
{
    grid-column: 12 / 13;
    width: 30px;
    height: 30px;
    background: url('/images/basket.svg') no-repeat center;
    box-shadow: 0 0 16.3715px #E6E6E6;
    border-radius: 10px;
    border: none;
    justify-self: center;
}
