.form {
    margin: 30px 0 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}

.form__field {
    display: flex;
    align-items: center;
    width: 380px;
    height: 48px;
    margin: 8px 0 20px;
    padding-left: 20px;
    border: none;
    box-sizing: border-box;
    border-radius: 6px;
    box-shadow: 0 7px 64px #EDEDED;
    font-size: 16px;
    color: #B3B3B3;
    outline: none;
}

.form__field::placeholder {
    font-family: Geometria, sans-serif;
    color: #B3B3B3;
}

.formField__label {
    font-size: 15px;
}

.palette {
    display: block;
}

.name,
.email,
.speciality,
.group,
.rating {
    grid-column: 1 / 2;
}

.gender,
.age,
.favouriteColor {
    grid-column: 2 / 3;
}

.gender {
    grid-row: 1 / 2;
}

.age {
    grid-row: 2 / 3;
}

.favouriteColor {
    grid-row: 3 / 4;
}

.speciality,
.group,
.gender {
    width: 380px;
    height: 48px;
    box-sizing: border-box;
    margin: 8px 0 20px;
    background: url('http://students-react-app.surge.sh/images/select-arrow.svg') no-repeat center right;
    color: #B3B3B3;
}

.routerLink {
    grid-column: 1 / 2;
}

.button {
    grid-column: 1 / 2;
    width: 380px;
    height: 50px;
    background: #49C2E8;
    color: #FFF;
    border-radius: 10px;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    margin-top: 20px;
}

@media screen and (max-width: 1000px) {
    .form {
        display: block;
    }

    .form__field {
        width: 100%;
    }

    .speciality,
    .group,
    .gender,
    .button {
        width: 100%;
    }

    .speciality,
    .group,
    .gender {
        margin: 0 0 48px;
    }
}
