.colorSection {
    width: 380px;
    height: 70px;
    padding: 20px 20px 20px 25px;
    box-sizing: border-box;
    box-shadow: 0 7px 64px rgba(0, 0, 0, 0.07);
    border-radius: 6px;
    margin-top: 6px;
    position: absolute;
    z-index: 120;
}

.circle {
    display: none;
}

.colorLabel {
    margin: 0 20px 0 0;
    display: inline-block;
    outline: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.blueCircle {
    background: #49C2E8;
}

.redCircle {
    background: #E25B5B;
}

.greenCircle {
    background: #83C872;
}

.yellowCircle {
    background: #F7FB53;
}

.blackCircle {
    background: #000;
}

.orangeCircle {
    background: #EFA638;
}

.rainbowCircle {
    margin-right: 0;
    background: url('/images/rainbow.png') no-repeat center;
}

@media screen and (max-width: 1000px) {
    .form {
        display: block;
    }

    .form__field {
        width: 100%;
    }

    .colorSection {
        position: relative;
        display: flex;
        align-content: space-evenly;
        width: 100%;
    }

    .colorLabel {
        margin: 0 14px 0 0;
    }
}
