.header {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 15px;
    align-items: center;
    margin: 5px 0;
    font-size: 16px;
    line-height: 20px;
    padding: 0 19px;
    border: none;
    font-weight: normal;
}

.name {
    grid-column: 2 / 5;
}

.speciality {
    grid-column: 5 / 8;
}

.group {
    grid-column: 8 / 9;
}

.age {
    grid-column: 9 / 10;
}

.rating {
    grid-column: 10 / 11;
}

@media screen and (max-width: 1000px) {
    .header {
        display: none;
    }
}
