body
{
    margin: 0;
    padding: 0;
    font-family: Geometria, sans-serif;
}

.content
{
    padding: 0 130px;
}

.characteristic
{
    margin: 30px 0 0;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}

.characteristic__field
{
    display: block;
    width: 380px;
    height: 48px;
    margin-top: 8px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border-radius: 6px;
    box-shadow: 0 7px 64px rgba(0, 0, 0, 0.07);
    background: #fff;
    padding-left: 20px;
    font-size: 16px;
    opacity: 0.3;
}

.characteristic__field-label
{
    font-size: 15px;
}

.fio,
.email,
.speciality,
.group,
.rating
{
    grid-column: 1 / 2;
}

.gender,
.age,
.color
{
    grid-column: 2 / 3;
}

.color
{
    grid-row: 3 / 5;
}

.create-button
{
    width: 380px;
    height: 50px;
    background: #49C2E8;
    color: #fff;
    border-radius: 10px;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    margin-top: 20px;
}

.back-to-list
{
    display: flex;
    margin: 25px 0 0;
}

.back-to-list__text
{
    margin-left: 16px;
    font-size: 12px;
    line-height: 20px;
}

.new-student
{
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
    margin: 31px 0 0;
}

.avatar
{
    display: flex;
}

.previewImage,
.previewText
{
    width: 80px;
    height: 80px;
    margin: 30px 0 0;
    box-shadow: 0 7px 64px rgba(0, 0, 0, 0.07);
    border-radius: 50%;
}

.previewText
{
    font-size: 28px;
    line-height: 34px;
    color: #49C2E8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fileInput
{
    display: none;
}

.custom-file-upload
{
    margin: 30px 0;
    text-decoration: underline;
    display: block;
    padding: 20px 20px;
    cursor: pointer;
}

.custom-file-upload::after
{
    content: '500x500';
    margin-top: 8px;
    display: block;
    font-size: 12px;
    line-height: 15px;
    text-decoration: none;
}

.color-section
{
    width: 380px;
    height: 70px;
    padding: 20px 20px 20px 25px;
    box-sizing: border-box;
    box-shadow: 0 7px 64px rgba(0, 0, 0, 0.07);
    border-radius: 6px;
}

.circle
{
    display: none;
}

.circle:checked + .color-label
{
    border: 1px solid #000;
    box-shadow: 0 0 5px #FFD700;
}

.color-select
{
    margin-bottom: 6px;
}


.toggle-button
{
    display: none;
}

.color-palette
{
    display: block;
    list-style: none;
}

.toggle-button:checked ~ .color-palette
{
    display: none;
}

.toggle-button-label
{
    display: block;
    width: 380px;
    height: 48px;
    margin-top: 8px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border-radius: 6px;
    box-shadow: 0 7px 64px rgba(0, 0, 0, 0.07);
    background: #fff;
    padding-left: 20px;
    font-size: 16px;
    opacity: 0.3;
}

.blue-circle
{
    background: #49C2E8;
}

.red-circle
{
    background: #E25B5B;
}

.green-circle
{
    background: #83C872;
}

.yellow-circle
{
    background: #F7FB53;
}

.black-circle
{
    background: #000;
}

.orange-circle
{
    background: #EFA638;
}

.rainbow-circle
{
    margin-right: 0;
}

.color-label
{
    margin: 0 20px 0 0;
    display: inline-block;
    outline:none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
