body
{
    margin: 0;
    padding: 0;
    font-family: Geometria, sans-serif;
}

.content
{
    padding: 0 130px;
    margin-bottom: 50px;
}

.students-list-logo
{
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
}

.search-sort-block
{
    display: flex;
}

.back-to-list
{
    display: flex;
    margin: 25px 0 0;
}

.back-to-list__text
{
    margin-left: 16px;
    font-size: 12px;
    line-height: 20px;
}

.new-student
{
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
    margin: 31px 0 0;
}

.characteristic
{
    margin: 30px 0 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}

.characteristic__field
{
    display: block;
    width: 380px;
    height: 48px;
    margin: 8px 0 20px;
    padding-left: 20px;
    border: none;
    box-sizing: border-box;
    border-radius: 6px;
    box-shadow: 0 7px 64px #EDEDED;
    font-size: 16px;
    color: #B3B3B3;
    outline: none;
}

.characteristic__field::placeholder
{
    font-family: Geometria, sans-serif;
}

.characteristic__field-label
{
    font-size: 15px;
}

.select
{
    position: relative;
}

.select__item,
.select__head
{
    display: none;
}

.select__head-label
{
    display: flex;
    align-items: center;
    background: url('/images/select-arrow.svg') no-repeat center right;
    margin-bottom: 0;
}

.select__list
{
    padding: 0 11px;
    display: none;
    position: absolute;
    margin-top: 6px;
    width: 380px;
    box-sizing: border-box;
    background: #fff;
    z-index: 100;
}

.select__head:checked + .select__list
{
    display: flex;
    flex-direction: column;
}

.select__head:checked + .color-section
{
    display: block;
}

.select__item-label
{
    height: 45px;
}

.selectedItem
{
    height: 35px;
    display: flex;
    align-items: center;
    padding: 5px 12px;
    border-radius: 5px;
    margin: 0;
}

.select__item:checked + .select__item-label .selectedItem
{
    background: #EBF8FC url('/images/selected-item.svg') no-repeat center right;
}

.name,
.email,
.speciality,
.group,
.rating
{
    grid-column: 1 / 2;
}

.gender,
.age,
.favourite-color
{
    grid-column: 2 / 3;
}

.color-section
{
    display: none;
    width: 380px;
    height: 70px;
    padding: 20px 20px 20px 25px;
    box-sizing: border-box;
    box-shadow: 0 7px 64px rgba(0, 0, 0, 0.07);
    border-radius: 6px;
    margin-top: 6px;
    position: absolute;
    z-index: 100;
}

.circle
{
    display: none;
}

.circle:checked + .color-label
{
    border: 1px solid #000;
    box-shadow: 0 0 5px #FFD700;
}

.color-label
{
    margin: 0 20px 0 0;
    display: inline-block;
    outline:none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.blue-circle
{
    background: #49C2E8;
}

.red-circle
{
    background: #E25B5B;
}

.green-circle
{
    background: #83C872;
}

.yellow-circle
{
    background: #F7FB53;
}

.black-circle
{
    background: #000;
}

.orange-circle
{
    background: #EFA638;
}

.rainbow-circle
{
    margin-right: 0;
    background: url('/images/rainbow.png') no-repeat center;
}

.create-button
{
    width: 380px;
    height: 50px;
    background: #49C2E8;
    color: #fff;
    border-radius: 10px;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    margin-top: 20px;
}
