body {
    margin: 0;
    padding: 0;
    font-family: Geometria, sans-serif;
}

.content {
    padding: 0 130px;
    margin-bottom: 50px;
}

.students-list-logo {
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
}

.search-sort-block {
    display: flex;
}

.students-list {
    box-shadow: 0 7px 64px #EDEDED;
    border-radius: 6px;
}

.new-student {
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
    margin: 31px 0 0;
}

@media screen and (max-width: 1000px) {
    .content {
        padding: 0 21px;
    }
}
