.line {
    display: flex;
    height: 48px;
    width: 180px;
    font-size: 12px;
    line-height: 15px;
    margin: 0 0 0 20px;
    border-radius: 6px;
    position: relative;
    border: none;
    outline: none;
}

.button {
    height: 48px;
    width: 48px;
    margin-left: -48px;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    outline: none;
    border: none;
    background: url('http://students-react-app.surge.sh/images/sort-button.svg') no-repeat center;
    z-index: 300;
}

@media screen and (max-width: 1000px) {
    .line {
        display: none;
    }
}
